# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/node_modules
/lib
/lib-esm
/_bundles

# IDEs and editors

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
package-lock.json
Todolist.md
.angulardoc.json


# System Files
.DS_Store
Thumbs.db

# Added
coverage
.nyc_output