.*
**/tsconfig.json
**/webpack.config.js
**/.babelrc
**/.editorconfig
**/.nycrc.json
**/.prettierrc
**/package-lock.json
**/tslint.json
.nyc_output
.vscode
coverage
test
dist
node_modules
src
demonstration