// import Nebular Theme System and the default theme
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(
  (
    text-basic-color: color-basic-1000,
    // <- we setting color-basic-800 instead of color-basic-1000
      text-disabled-color: color-basic-500,
    // <- and color-basic-600 as instead of color-basic-500,,
  ),
  default,
  default
);
