$breakpoints: (
  'phone': '600px',
  'desktop': '1200px',
  'big-desktop': '1800px',
);

@mixin for-phone-only {
  @media (max-width: map-get($map: $breakpoints, $key: 'phone') - 1px) {
    @content;
  }
}
@mixin for-tablet-up {
  @media (min-width: map-get($map: $breakpoints, $key: 'phone')) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: map-get($map: $breakpoints, $key: 'desktop')) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: map-get($map: $breakpoints, $key: 'big-desktop')) {
    @content;
  }
}

@mixin responsive-image($folder, $filename) {
  @include for-phone-only {
    background-image: url('/assets/'+$folder+'/800w/'+$filename+'@800w.jpg');
  }
  @include for-tablet-up {
    background-image: url('/assets/'+$folder+'/1400w/'+$filename+'@1400w.jpg');
  }
  @include for-desktop-up {
    background-image: url('/assets/'+$folder+'/1x/'+$filename+'@1x.jpg');
  }
  @include for-big-desktop-up {
    background-image: url('/assets/'+$folder+'/2x/'+$filename+'@2x.jpg');
  }
  background-size: cover;
}
